.menu{
    display: flex;
    justify-content: space-around;
    background-color: rgb(102, 96, 96);
    color: aliceblue;
    padding-top: 5px;
}
.link{
    color: white;
    text-decoration: none;
    font-weight: 900;
}
.link:hover{
    color: rgb(86, 169, 202);
}